.error404{
    display:flex;
    }
    .page-title{
        font-size: 2.4rem;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Novovento Sans Web';

}

 .error404 .site-content{
    display: flex;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    .site-main{
        flex: 1 0 70%;
    }
}

.error404{
.content-area{
    padding-top:56px;
    padding-right: 56px;
    }
}

.error404{
    .page-content{
        font-family: 'Merriweather';
        .search-form{
            fieldset{
            border:none;
                button{
                    display: none;
                }
            }
        }
    }
}

.widget_recent_entries {
    h2{
        font-size: 1.5rem;
        color: #2f1339;
        font-family: 'Novovento Sans Web';
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.25;
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }
}
.widget{
.widgettitle{
    font-size: 1.5rem;
    color: #2f1339;
    font-family: 'Novovento Sans Web';
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.25;
    margin-bottom: 1.5rem;
    }
}

.error404{
    .widget{
        p{
            margin-bottom: .75rem;
        }
    }
}

.error404{
    select{
        font-family: 'Merriweather';
    }
}

.error404{
    fieldset{
        padding-left: 0px;
    }
    input{
        background-color: #F4F4F4;
    }
}

.error404 {
    a{
        text-decoration: none;
        color: #19625d;
        font-family: 'Merriweather';
        line-height: 1.75;
        }
    }

.error404 {
    a:visited{
        color: #19625d;
            }
        }

.error404 {
    a:hover{
        color: #2f1339;
            }
        }