.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

.about{
    max-width: 800px;
}

.about-hero{
    height: 100vh;
    width:100%;
    background:linear-gradient(
      rgba(0, 0, 0, 0.45), 
      rgba(0, 0, 0, 0.45)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    h1{
        font-size: 3rem;
        font-weight: bold;
        color:white;
        font-family: 'Novovento Sans Web';
        text-transform: uppercase;
    }
}

.our-story,.our_team{
    h2{
        color:#2f1339;
        text-align: center;
        font-size: 2.1rem;
        flex: 1 0 100%;
        font-family: "Novovento Sans Web";
        text-transform: uppercase;
        margin-top:1.5rem;
        margin-bottom: 1.5rem;
        
    }
}

.wpcf7-form{
    margin-bottom: 6rem;
    max-width: 760px;
}

.our_team{
    margin-bottom: 4rem;
}
.our_team,.our-story{
    p{
        font-family: "Merriweather"
    }
}