/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
@font-face {
    font-family: Merriweather;
    src: url(../../media/fonts/Merriweather/Merriweather-Light.ttf) format("truetype");
}

@font-face {
    font-family: Novovento Sans Web;
    src: url(../../media/fonts/Novecento/Novecentosanswide-DemiBold.ttf) format("truetype");
}

@font-face{
    font-family: Novovento Sans Web Normal;
    src: url(../../media/fonts/Novecento/Novecentosanswide-Normal.ttf) format("truetype");
}