.site-footer{
    height: 350px;
    background-image: url(../../media/images/dark-wood.png);
    background-size: 500px 500px;
}
.footer{
    display: flex;
    align-self: center;
    width: 1349px;
}
.footer-info{
    margin-top:60px;
    width:25%;
    p,a{
        color: white;
        text-decoration: none;
        }
    span{
        font-weight: bold;
    }
}
.site-info div{
    h3{
        color:#d99054;
        font-size: 1.2rem;
        font-family: 'Novovento Sans Web Normal';
        font-weight: bold;
        margin-bottom: 1.5rem;
        letter-spacing: 2px;

    }
}

.footer-image{
    background-image: url(../../media/images/logos/inhabitent-logo-text.svg);
    background-size: 250px 50px;
    background-repeat: no-repeat;
    width:250px;
    height:50px;
    margin-left:280px;

}
.copyright-footer{
    text-align: center;
    color:white;
    font-family: "Novovento Sans Web Normal";
    margin-top:40px;
}

.contact-info{
    margin-left: 4rem;
    i{
        margin-right: .5rem;
    }
}

.footer-icons{
    color:white;
}

.site-footer{
    i{
        font-size: 1.25rem;
    }
}

.site-footer{
    p,a{
        font-family: 'Merriweather'
    }
}

.site-footer{
    i{
        font-size: 1rem;
        padding-right: 5px;
    }
}

.copyright-footer{
    margin-bottom: 0;

}