.post-type-archive{
    .site-content{
    padding-top:48px;
    }
}

.post-type-archive{
    .page-header{
    text-align: center;
        h1{
            font-size: 2.4rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
}
.grid{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product{
    display: flex;
    flex: 1 0 23%;
    img{
        height:250px; 
    }
}

.product-price-summary{
    border-right: 1px solid #E1E1E1;
    border-bottom: 1px solid #E1E1E1;
    border-left: 1px solid #E1E1E1;
    border-top: 6px solid #E1E1E1;
    font-size: 1rem;
    padding: .75rem 1rem;
    color: #2f1339;
}

.thumbnail{
    height:250px;
    width:250px;

}

.stuff_titles{
    color:#19625d;
    text-decoration: none;
}

.shop-stuff-catagories{
    text-transform: uppercase;
    font-family: 'Novovento Sans Web Normal';
    font-size: 1.2rem;
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px dashed lightgray;
    .stuff_titles:last-child{
        padding-right: 0px;
    }
}

.shop-stuff-catagories{
    a{
        padding-right: 50px;
        color:#468A83;
    }
}
.shop-stuff-catagories{
  a:visited{
      color: #468A83;
  }
}

.shop-stuff-catagories{
  a:hover{
      color: #2f1339;
  }
}